# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.{gitattributes,gitconfig,gitmodules}]
indent_style = tab
indent_size = 4

[*.sh]
indent_size = 4

[*.{bat,cmd}]
end_of_line = crlf

[*.reg]
charset = utf-16le
end_of_line = crlf
